$fontcolor:  rgb(10%, 10%, 10%);
$backgroundcolor: rgb(98%, 98%, 98%);

body {
    font-family: "Roboto", sans-serif;
    color: $fontcolor;
    background-color: $backgroundcolor;
    margin: 50px;
}

ul {
    list-style-type: none;
    margin: 10px 0 10px;
}

li {
    display: inline;
    margin-left: 1.5em;
}

.logo {
    background-image: url('img/tiny.png');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
}

#search-bar {
    margin-bottom: 20px;

    input {
      font-size: 1.5em;
      border-radius: .25em;
    }

    .fas {
        font-size: 1.5em;
        margin-left: .5em;
        opacity: 0.35;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
    }
}

#search-bar:hover {
    .fas {
        opacity: 1;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
    }
}

#video-detail {
    width: 100%;
}
  
#video-section {
    display: flex;

    li {
        list-style: none;
        cursor: pointer;
        display: flex;
        width: 25vw;
        padding: 10px;
    }

    li:hover {
        background: darken( $backgroundcolor, 10% );
    }
}

.active {
    color: pink;
}

.details {
    margin-top: 10px;

    #video-title {
        font-size: 30px;
        font-style: bold;
    }
}

.video-list-title {
    margin-left: 10px;
    font-style: bold;
}
